<mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{selectTxtFile}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        {{targetContent}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="showSelectMarkedContent()">SHOW</button>
      <button mat-button (click)="hindSelectMarkedContent()">HIDE</button>
    </mat-card-actions>
  </mat-card>
